.footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1;
  min-width: 30%;
  margin: 10px;
  text-align: left;
}

/* Google Maps Section (Aligned Left) */
.map-container {
  flex-basis: 20%; /* Small size */
  min-width: 200px; /* Ensures it doesn’t shrink too much */
  text-align: left;
}

.map-frame {
  width: 72%;
  height: 220px;
  border: 0;
  border-radius: 5px;
  margin-top: 10px;
}

.footer-section h3 {
  color: #f4a261;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section p a {
  color: #e8ebee;
  text-decoration: none;
  font-weight: bold;
}

.footer-section p a:hover {
  color: #edeff2;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 14px;
  margin-top: 20px;
}
