<!-- Footer -->
<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>Contact Us</h3>
      <p><strong>Cell: </strong> <a href="tel:+91 93567 17379">+91 9356717379</a>
        <p><strong>Email:</strong> <a href="mailto:rohanghogare2227@gmail.com">rohanghogare2227.gmail.com</a></p>
    </div>
    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#nav-bar">Home</a></li>
        <li><a href="#about-us">About Us</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Location</h3>
      <p>Near Sai Palace Express. Laxmibai Shinde Road, Near Saibaba Temple, Gate No.2, Shirdi.</p>
      <!-- Google Maps Embed -->
      <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d938.6640399591208!2d74.47707476954567!3d19.76975799884893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdc5b966c4e4eb1%3A0xd6be8155efcc09c2!2sLaxmibai%20Shinde%20Marg%2C%20Shirdi%2C%20Maharashtra%20423109!5e0!3m2!1sen!2sin!4v1742998842720!5m2!1sen!2sin"                     class="map-frame" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>


    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Sai Rath . All Rights Reserved.</p>
  </div>
</footer>