.about-us {
  background-color: #f9f9f9;
  padding: 5%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif /* Same font for everything */
}

.about-us h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 90px;
}

.about-us p {
  font-size: 1.2rem;
  color: #666;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 70px;

}

/* Metrics Section */
.metrics-container {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 40px;
  flex-wrap: wrap;
  align-items: center;
}

.metric {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
}

.metric h3 {
  font-size: 1.5rem;
  color: #5064fc;
  margin-bottom: 10px;
}

.counter {
  font-size: 3rem;
  font-weight: bold;
  color: #e05b5b; /* Deep Red */
  transition: all 0.3s ease-in-out;
}