<div class="cab-booking-container">
    <h1>Customized Packages for Cab Booking in Shirdi</h1>
    
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Vehicle Type</th>
            <th>Capacity</th>
            <th>Rates</th>
            <th>Per Day (300km)</th>
            <th>Driver D.A.</th>
            <th>Toll/Parking</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of vehicles">
            <td data-label="Vehicle Type">{{vehicle.type}}</td>
            <td data-label="Capacity">{{vehicle.capacity}}</td>
            <td data-label="Rates">{{vehicle.rates}}</td>
            <td data-label="Per Day">{{vehicle.perDayRate}}</td>
            <td data-label="Driver D.A.">{{vehicle.driverDA}}</td>
            <td data-label="Toll/Parking">{{vehicle.tollParking}}</td>
            <td data-label="Action">
                <button class="book-now-btn" (click)="initiateWhatsAppBooking(vehicle.type)">
                  Book Now
                </button>
              </td>
                    </tr>
        </tbody>
      </table>
    </div>
  </div>