<body>
  <h2 class="title">Tourist's Favorite Destinations.</h2>
  <div class="cab-service">
    <p>We offer cab services to all tourist destinations in Maharashtra and beyond for a smooth and comfortable journey.
    </p>
  </div>
  <div class="cards-container">
    <div class="card">
      <img src="./assets/shanidev.jpg" alt="car on rent in shirdi">
      <p>Experience the divine aura of <strong>Shani Shingnapur</strong>, the village with no doors.</p>
    </div>
    <div class="card">
      <img src="./assets/trymbakeshwar.jpg" alt="low price cab in shirdi">
      <p>Discover <strong>Trimbakeshwar Temple</strong>, a sacred Jyotirlinga in Maharashtra.</p>
    </div>
    <div class="card">
      <img src="./assets/ajanta.jpg" alt="Best cabs in shirdi">
      <p>Explore the ancient <strong>Ajanta Ellora Caves</strong> with us – a UNESCO World Heritage Site.</p>
    </div>
    <div class="card">
      <img src="./assets/bhimashankar.jpg" alt="book taxi in shirdi">
      <p>Visit the sacred <strong>Bhimashankar Temple</strong>, one of the 12 Jyotirlingas.</p>
    </div>
    <div class="card">
      <img src="./assets/aai.jpg" alt="car rental shirdi">
      <p>Embark on a spiritual journey to the renowned <strong>Kolhapur Mahalakshmi Temple</strong>, a revered Shakti Peetha.</p>
    </div>
  
    <div class="card">
      <img src="./assets/Vani.jpg" alt="sairath cabs">
      <p>Experience serenity at <strong>Vani Devi Temple</strong>, a famous pilgrimage site.</p>
    </div>
  </div>
</body>
