<body>
    <h2 class="title">Tourist's Favorite Destinations.</h2>
    <div class="cards-container">
      <div class="card">
        <img src="./assets/ajanta.jfif" alt="Ajanta Caves">
        <p>Explore the ancient Ajanta Caves with us – a UNESCO World Heritage Site.</p>
      </div>
      <div class="card">
        <img src="./assets/bhimashankar.jfif" alt="Bhimashankar Temple">
        <p>Visit the sacred Bhimashankar Temple, one of the 12 Jyotirlingas.</p>
      </div>
      <div class="card">
        <img src="./assets/shanidev.jpg" alt="Shani Shingnapur">
        <p>Experience the divine aura of Shani Shingnapur, the village with no doors.</p>
      </div>
      <div class="card">
        <img src="./assets/shegaon.jfif" alt="Shegaon Temple">
        <p>Join us on a spiritual journey to Shegaon, home of Gajanan Maharaj.</p>
      </div>
      <div class="card">
        <img src="./assets/trymbakeshwar.jfif" alt="Trimbakeshwar Temple">
        <p>Discover Trimbakeshwar Temple, a sacred Jyotirlinga in Maharashtra.</p>
      </div>
      <div class="card">
        <img src="./assets/Vani.jfif" alt="Vani Devi Temple">
        <p>Experience serenity at Vani Devi Temple, a famous pilgrimage site.</p>
      </div>
    </div>
</body>