<body>
    <h2 class="title">Tourist's Favorite Destinations.</h2>
    <div class="cab-service">
      <p>We offer cab services to all tourist destinations in Maharashtra and beyond for a smooth and comfortable journey.</p>
  </div>
    <div class="cards-container">
      <div class="card">
        <img src="./assets/ajanta.jpg" alt="Best cabs in shirdi">
        <p>Explore the ancient Ajanta Caves with us – a UNESCO World Heritage Site.</p>
      </div>
      <div class="card">
        <img src="./assets/bhimashankar.jpg" alt="book taxi in shirdi">
        <p>Visit the sacred Bhimashankar Temple, one of the 12 Jyotirlingas.</p>
      </div>
      <div class="card">
        <img src="./assets/shanidev.jpg" alt="car on rent in shirdi">
        <p>Experience the divine aura of Shani Shingnapur, the village with no doors.</p>
      </div>
      <div class="card">
        <img src="./assets/shegaon.jpg" alt="car rental shirdi">
        <p>Join us on a spiritual journey to Shegaon, home of Gajanan Maharaj.</p>
      </div>
      <div class="card">
        <img src="./assets/trymbakeshwar.jpg" alt="low price cab in shirdi">
        <p>Discover Trimbakeshwar Temple, a sacred Jyotirlinga in Maharashtra.</p>
      </div>
      <div class="card">
        <img src="./assets/Vani.jpg" alt="sairath cabs">
        <p>Experience serenity at Vani Devi Temple, a famous pilgrimage site.</p>
      </div>
    </div>
</body>