<app-nav-bar id="nav-bar"></app-nav-bar>

<section id="home"><app-home></app-home></section>
<section id="about-us"><app-about-us></app-about-us></section>
<section id="services"><app-services></app-services></section>
<section id="home"><app-cab-booking-table></app-cab-booking-table></section>
<section id="contact"><app-contact></app-contact></section>
<section id="gallary"><app-gallery></app-gallery></section>
<section id="footer"><app-footer></app-footer></section>

<!-- Floating WhatsApp Icon -->
<a href="https://wa.me/9356717379?text=Hello!%20I%20would%20like%20to%20book%20a%20cab.%20Please%20share%20the%20pricing%20details." target="_blank" class="whatsapp-float">
    <img src="assets/wp.png" alt="WhatsApp" />
  </a>