<!-- Topbar -->
<div class="topbar">
  <div class="contact-info">
      <span><strong>Cell </strong> 
        <a href="tel:+919356717379">+91 93567 17379</a>  
      </span>
      <span class="email"><strong>Email :</strong> 
          <a href="rohanghogare2227&#64;example.com">rohanghogare2227&#64;example.com</a>
      </span>
  </div>
</div>

<!-- Navbar -->
<nav class="navbar">
  <div class="logo">
    <img src="assets/Logo.png" alt="Logo">
  </div>
  <input type="checkbox" id="menu-toggle">
  <label for="menu-toggle" class="menu-icon">&#9776;</label>
  <ul class="nav-links">
    <li><a href="#" (click)="scrollToSection('nav-bar')">Home</a></li>
    <li><a href="#" (click)="scrollToSection('contact')">Contact</a></li>
    <li><a href="#" (click)="scrollToSection('services')">Services</a></li>
    <li><a href="#" (click)="scrollToSection('about-us')">About Us</a></li>
  </ul>
</nav>
