<!-- Topbar -->
<div class="topbar">
  <div class="contact-info">
      <span><strong>Cell</strong> 
        <a href="tel:+917276730132">+91 7276730132</a> / 
        <a href="tel:+919545031555">+91 9545031555</a>
      </span>
      <span class="email"><strong>Email :</strong> 
          <a href="mailto:your-email&#64;example.com">your-email&#64;example.com</a>
      </span>
  </div>
</div>

<!-- Navbar -->
<nav class="navbar">
  <div class="logo">
    <img src="assets/Logo.png" alt="Logo">
  </div>
  <input type="checkbox" id="menu-toggle">
  <label for="menu-toggle" class="menu-icon">&#9776;</label>
  <ul class="nav-links">
    <li><a href="#" (click)="scrollToSection('nav-bar');closeMenu()">Home</a></li>
    <li><a href="#" (click)="scrollToSection('about-us');closeMenu()">About Us</a></li>
    <li><a href="#" (click)="scrollToSection('services');closeMenu()">Services</a></li>
    <li><a href="#" (click)="scrollToSection('contact');closeMenu()">Contact</a></li>
  </ul>
</nav>
