<!-- Topbar -->
<div class="topbar">
    <div class="contact-info">
      <span>+91 7276730132 / +91 9545031555 | </span>
    </div>
    <div class="social-icons">
      <a href="#"><img src="assets/facebook-icon.png" alt="Facebook"></a>
      <a href="#"><img src="assets/instagram-icon.png" alt="Instagram"></a>
    </div>
  </div>
  
  <!-- Navbar -->
  <nav class="navbar">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
    </div>
    <ul class="nav-links">
      <li><a href="#home">Home</a></li>
      <li><a href="#about-us">About Us</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#testimonials">Testimonials</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  