<body>
<div class="services-container">
    <h2 class="services-heading">Our Cab Services</h2>

    <div class="service-card">
      <img src="assets/cabtravel.png" alt="Cab Service" class="service-image">
      <h2>City Rides</h2>
      <p>Book a cab for hassle-free travel within the city at affordable prices.</p>
      <p>Enjoy convenient pickups and drop-offs at your location.
      Choose from a variety of vehicle options to suit your needs.</p>
    </div>

    <div class="service-card">
      <img src="assets/Airoplane.png" alt="Airport Transfer" class="service-image">
      <h2>Airport PickUp And Drop</h2>
      <p>Airport pickups and drops with on-time service and a smooth ride experience.</p>
      <p>Reliable service to ensure you never miss a flight.
       Fixed rates with no hidden charges for a stress-free journey.</p>
    </div>

    <div class="service-card">
      <img src="assets/IntesCities.png" alt="Outstation Cab" class="service-image">
      <h2>Outstation Trips</h2>
      <p>Plan your long-distance journeys with our safe and reliable cab services.</p>
      <p>Well-maintained vehicles for a smooth and enjoyable ride.
      Experienced drivers to guide you throughout your trip.</p>
    </div>
</div>
</body>