<section class="cab-home container-fluid">
    <div class="row align-items-center">
        <!-- Left Side (Images) -->
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 text-center">
            <div class="image-container">
                <img src="assets/L1.jpg" class="img1" alt="Book Cab">
                <img src="assets/L2.png" class="img2" alt="Cabs in shirdi">
            </div>
            
        </div>

        <!-- Right Side (Text & Button) -->
        <div class="col-6 col-sm-6 col-md-6 col-lg-4  text-center text-md-start text-container">
            <h1 class="main-text">Sai Rath Cabs</h1>
            <p class="sub-text">Airport Pickup & Drop.</p>
            <p class="sub-text">Intercity Cabs Available.</p>
            <button class="book-btn" onclick="window.location.href='tel:+919356717379'">Book Now</button>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 ">
            <img src="assets/carss.png" class="img-fluid mb-2 img3" alt="Cabs in shirdi"> 
        </div>
    </div>
</section>